<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>360</real>
	<key>angleVariance</key>
	<real>360</real>
	<key>blendFuncDestination</key>
	<integer>771</integer>
	<key>blendFuncSource</key>
	<integer>771</integer>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>0.0</real>
	<key>finishColorAlpha</key>
	<real>0.08203125</real>
	<key>finishColorBlue</key>
	<real>0.18000000715255737</real>
	<key>finishColorGreen</key>
	<real>0.20000000298023224</real>
	<key>finishColorRed</key>
	<real>1</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.0</real>
	<key>finishColorVarianceBlue</key>
	<real>0.25999999046325684</real>
	<key>finishColorVarianceGreen</key>
	<real>0.21349158883094788</real>
	<key>finishColorVarianceRed</key>
	<real>0.986328125</real>
	<key>finishParticleSize</key>
	<real>49.342105865478516</real>
	<key>finishParticleSizeVariance</key>
	<real>0.0</real>
	<key>gravityx</key>
	<real>0.69999998807907104</real>
	<key>gravityy</key>
	<real>1.4299999475479126</real>
	<key>maxParticles</key>
	<real>50</real>
	<key>maxRadius</key>
	<real>100</real>
	<key>maxRadiusVariance</key>
	<real>0.0</real>
	<key>minRadius</key>
	<real>0.0</real>
	<key>particleLifespan</key>
	<real>0.54379111528396606</real>
	<key>particleLifespanVariance</key>
	<real>0.0</real>
	<key>radialAccelVariance</key>
	<real>0.0</real>
	<key>radialAcceleration</key>
	<real>0.0</real>
	<key>rotatePerSecond</key>
	<real>0.0</real>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>rotationEnd</key>
	<real>0.0</real>
	<key>rotationEndVariance</key>
	<real>0.0</real>
	<key>rotationStart</key>
	<real>50</real>
	<key>rotationStartVariance</key>
	<real>0.0</real>
	<key>sourcePositionVariancex</key>
	<real>0.52999997138977051</real>
	<key>sourcePositionVariancey</key>
	<real>3</real>
	<key>sourcePositionx</key>
	<real>317.623046875</real>
	<key>sourcePositiony</key>
	<real>138.65618896484375</real>
	<key>speed</key>
	<real>26.110197067260742</real>
	<key>speedVariance</key>
	<real>5</real>
	<key>startColorAlpha</key>
	<real>0.1017252579331398</real>
	<key>startColorBlue</key>
	<real>0.30000001192092896</real>
	<key>startColorGreen</key>
	<real>0.2146809846162796</real>
	<key>startColorRed</key>
	<real>1</real>
	<key>startColorVarianceAlpha</key>
	<real>0.11562500149011612</real>
	<key>startColorVarianceBlue</key>
	<real>0.070000000298023224</real>
	<key>startColorVarianceGreen</key>
	<real>0.18999999761581421</real>
	<key>startColorVarianceRed</key>
	<real>1</real>
	<key>startParticleSize</key>
	<real>59.421051025390625</real>
	<key>startParticleSizeVariance</key>
	<real>6.6578946113586426</real>
	<key>tangentialAccelVariance</key>
	<real>0.0</real>
	<key>tangentialAcceleration</key>
	<real>0.0</real>
	<key>textureFileName</key>
	<string>fireball.png</string>
</dict>
</plist>
