<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,132}}</string>
                <key>sourceSize</key>
                <string>{125,132}</string>
            </dict>
            <key>cc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,107}}</string>
                <key>sourceSize</key>
                <string>{125,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>output.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ae77049b4ed65980a5d7b9e5f5269f1$</string>
            <key>textureFileName</key>
            <string>output.png</string>
        </dict>
    </dict>
</plist>
